@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  font-family: "Press Start 2P", cursive;
  margin-top: 2em;
  font-size: 0.8em;
}
#mainContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
}
#leftWrap{
  font-size: 0.7em;
  width: 400px;
  margin-right: 2em;
  text-align: center;
}
#instructionContainer{
  display: flex;
  flex-flow: column nowrap;
}
#rightWrap{
  font-size: 0.7em;
  width: 400px;
  margin-left: 2em;
}
#levelOutput{
  color: blue;
  font-size: 0.7em;
  width: 400px;
  margin-left: 2em;
}
#speedOutput{
  color: blue;
  font-size: 0.7em;
  width: 400px;
  margin-left: 2em;
}
